* {
    margin: 0 auto;
}

body {
    background-image: url("https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80");
}

.sound-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.sound-btn {
    background-color: black;
    color: rgba(0, 255, 255, 0.849);
    font-family: 'Stick', sans-serif;
    font-size: larger;
    box-shadow: 0 6px 30px -10px orange;
    border-radius: 12px;
    width: 100%;
    margin: 10px;
    padding: 30px;
}